extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Eugene Paitoo

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p(style='white-space:pre-wrap;')
            | After completing my college degree in Business Administration, I decided to learn how to code and since then I have never looked back.
            | I made this decision just not only for my interest in Technology or curiosity, but I was fascinated by the ability to create something from scratch which could have a lasting impact on the lives of people and the society at large. <br />
            | Through the learning process, I even built a website for my friend's company 
            a.modef-link(href="https://modefinvestment.com" target='_blank') MODEF <br />
            | 
            | I'm very passionate in the pursuit and application of these tech skills, especially web development and I'm always ready to learn new things in this sector which is always changing. <br /> 
            | Besides coding, I like to spend some time to read about some tech industry news and also like to watch some Animated Sitcoms of which my favourites are Rick and Morty and South Park.
            
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express.js
          li Node.js
          li JavaScript
          li Jquery
          li CSS
          li HTML
          li SEO
          li a little bit of Python :)
        h6 Contact Info

        //- Add your own contact info
        ul
          li +233-266-824-198
          li eugenepaitoo@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://twitter.com/epaitoo' target='_blank') Twitter
        a.button.expanded(href='https://github.com/epaitoo' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  