extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') â† Back
  
  h1.err=`${error.status} - ${error.message}`
    p.zoom-area
      b 
      |  Oops! Page does not exist.
    section.error-container
      span.four
        span.screen-reader-text 4
      span.zero
        span.screen-reader-text 0
      span.four
        span.screen-reader-text 4    
    .link-container
      a.more-link(href='/') GO TO HOMEPAGE
