extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together! 
      h1 Hello There!

      //- Add a description for your portfolio, what this project is, it's purpose, what it's suppossed to accomplish, etc. 
      p.lead.text-light
        | This portfolio is a demonstration of the some of the projects I've built, together with the skills and technologies
        | I've learn't and acquired. These skills are not limited to only Web Development 
        | but also soft skills and lifelong learning. Started from the buttom or basics now we're here.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5 #{project.project_name}

    p.lead.text-light.mid
      | "Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, 
      | love of what you are doing or learning to do". - Pele
          
      
